.img{
    width: 100px;
    justify-content:space-around;
}

h1{
    text-align: center;
    color:blueviolet;
    text-transform: uppercase;
}

h2{
    text-align: center;
}

 
body{
    font-family: "Inter";
}

.cabecalho{
    background-color: #D9D9D9;
    padding: 41px 54px 41px 54px;
    display: flex;
    align-items: center;
    justify-content:space-around
}


.menu{
        display: flex;
        justify-content: space-around;

}